apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-cicd-application
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/lalitharw/cicd_docker_kubernetes_argocd
    path: k8s
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: my-app
  syncPolicy:
    syncOptions:
      - CreateNamespace=true


    automated:
      selfHeal: true
      prune: true