apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
  labels:
    app: my-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app-deployment
  template:
    metadata:
      labels:
        app: my-app-deployment
    spec:
      containers:
        - name: my-app-container
          image: lalitharwate/cicd_docker_kubernetes_argocd:latest
          ports:
            - containerPort: 9000

---


apiVersion: v1
kind: Service
metadata:
  name: my-app-service
spec:
  selector:
    app: my-app-deployment
  ports:
    - protocol: TCP
      port: 80
      targetPort: 9000
  type: NodePort
        