name: docker-ci

on:
  push:
    branches:
      - main
jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      - name: Build and Push Docker Images
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{vars.DOCKER_HUB_USERNAME}}/cicd_docker_kubernetes_argocd:latest
            ${{vars.DOCKER_HUB_USERNAME}}/cicd_docker_kubernetes_argocd:${{github.sha}}
